<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet"
          href="/css/home.css"
          th:href="@{/css/home.css}"
          media="screen">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" th:href="@{/}">Home</a></li>
            <li><a href="/auth/login" th:href="@{/auth/login}">Sign In</a></li>
        </ul>
    </nav>
</body>
</html>